.fixed-bottom {
    color: #ffffff;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
    text-align: center;
}
.img-thumbnail{
    height: 100%;
    margin-left: -161px;
}